<ion-header translucent="true" class="ion-no-border">
  <img class="portrait" src="assets/mtg.png" alt="" />
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-back-button></ion-back-button>
      </ion-button>
    </ion-buttons>
    <div *ngIf="(set$|async )?.length > 0">
      <div *ngFor="let set of set$|async">
        <ion-title size="large">{{set.name }}</ion-title>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let set of set$|async">
    <app-set [set]="set"></app-set>
  </div>
</ion-content>
