<ion-card>
  <ion-card-content>
    <ion-row class="set">
      <ion-col size="8">
        <h2 class="set__name">{{ set.name }}</h2>

        <div>
          <ion-badge class="set__count"> {{ set.card_count }} cards </ion-badge>
          <ion-badge class="set__type" [style.background]="set.color">
            {{ set.set_type }}
          </ion-badge>
        </div>
      </ion-col>
      <ion-col size="4">
        <ion-img
          [src]="set.icon_svg_uri"
          (ionError)="loadError($event)"
        ></ion-img>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
