<ion-header translucent="true" class="ion-no-border">
  <img class="portrait" src="assets/mtg.png" alt="" />
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-back-button></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title size="large">Sets</ion-title>
  </ion-toolbar>

  <div class="titles">
    <ion-searchbar
      class="ion-no-padding"
      [(ngModel)]="searchText"
      animated="true"
    ></ion-searchbar>

    <div>
      <ion-chip class="count">
        <ion-label>{{(sets$ | async | filter: searchText)?.length}}</ion-label>
      </ion-chip>
    </div>
  </div>
</ion-header>

<ion-content>
  <div *ngFor="let set of sets$ | async  | filter: searchText">
    <app-set [set]="set" (click)="navigate(set.id)"></app-set>
  </div>
</ion-content>
