ion-toolbar {
  --background: rgba(0, 0, 0, 0);
}

.portrait {
  height: 200px;
  width: 90%;
  left: 22px;
  transform: scale(1.2, 1.2);
  opacity: 0.2;
  position: absolute;
  top: -115px;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.9), rgba(0, 0, 0, 0));
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0)
  );
}

.titles {
  padding: 0 1rem;
  display: flex;
}

.count {
  margin-left: 8px;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}

.cards-row {
  justify-content: center;
}
